/*Reset css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Generics*/

header {
    display: flex;
    min-height: 100px;
    background-color: #245EE9;
    justify-content: center;
    align-items: center;
}



/*Header*/

.bg-grey {
    background-color: lightgray;
}

.container-header {
    display: flex;
    padding: 10px;
    color: white;
    width: 100%;
    align-items: center;

}


ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.button-login {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: 0px;
}

.header-download {
    min-height: 100px;
    margin: 30px 0 0 40px
}

.btn-download {
    border-radius: 50px;
    padding: 10px;
    color: black;
    background-color: white;
}

.btn-browser {
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: rgb(29, 24, 24);
}

.fa-arrow-down {
    padding-right: 10px;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
}

.logo,
.login {
    flex-grow: 1;
    text-align: center;
}

.nav {
    flex-grow: 2;
}

.container-header-down {
    display: flex;
    min-height: 400px;
    background-image: url('img/jumbo.png');
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.box-header {
    min-height: 300px;
    max-width: 500px;
    text-align: center;
    color: white;
}

/*Sezione info*/

.section-info {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
}

.box-big-info {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-content: flex-start;
}

.box-small-info {
    padding-top: 30px;
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}

p {
    padding-top: 20px;
    line-height: 25px;
}

/*Sezione community*/

.section-community {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    padding: 30px;
}

.box-big-community {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item2.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.box-small-community {
    padding-top: 35px;
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}




/*Sezione team*/

.section-team {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    padding: 30px
}

.box-big-team {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item3.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.box-small-team {
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}

/*Sezione video*/

.section-video {
    min-height: 800px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.box-video {
    min-height: 600px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}


.button-download {
    width: 200px;
    background-color: #8DADFC;
    padding: 10px;
    margin: 20px auto;
    border-radius: 50px;
}

.fa-arrow-down-long {
    color: white;
    padding-right: 10px;
}

/*Footer*/

.footer-column {
    background-color: black;
    display: flex;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    padding: 20px;
}

.footer-info {
    min-height: 300px;
    min-width: 8%;
    background-color: aqua;
    border: 1px solid black;
}

.big {
    width: 18%;
}

.footer-end {
    width: 100%;
    display: flex;
    min-height: 100px;
    background-color: black;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid white;
}

.footer-box-end {
    padding: 10px 0;
    align-self: center;
    justify-content: space-between;
    display: flex;
    width: 50%;
    background-color: blueviolet;
}

.logo-ft {
    background-color: orange;
    padding: 5px;
}

button {
    background-color: orange;
    padding: 5px;
}

/*Fine esercizio*/