/*Reset css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Generics*/

header {
    display: flex;
    min-height: 100px;
    background-color: #245EE9;
    justify-content: center;
    align-items: center;
}



/*Header*/

.bg-grey {
    background-color: lightgray;
}

.container-header {
    display: flex;
    padding: 10px;
    color: white;
    width: 100%;
    align-items: center;

}


.ul-header {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.button-login {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: 0px;
}

.header-download {
    min-height: 100px;
    margin: 30px 0 0 40px
}

.btn-download {
    border-radius: 50px;
    padding: 10px;
    color: black;
    background-color: white;
}

.btn-browser {
    border-radius: 50px;
    padding: 10px;
    color: white;
    background-color: rgb(29, 24, 24);
}

.fa-arrow-down {
    padding-right: 10px;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
}

.logo,
.login {
    flex-grow: 1;
    text-align: center;
}

.nav {
    flex-grow: 2;
}

.container-header-down {
    display: flex;
    min-height: 400px;
    background-image: url('img/jumbo.png');
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.box-header {
    min-height: 300px;
    max-width: 500px;
    text-align: center;
    color: white;
}

/*Utility*/

.color-blue {
    color: #7289DA;
}

.h2-ft-size {
    font-size: 40px;
}

.color-white {
    color: white;
}

/*Sezione info*/

.section-info {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
}

.box-big-info {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-content: flex-start;
}

.box-small-info {
    padding-top: 30px;
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}

p {
    padding-top: 20px;
    line-height: 25px;
}

/*Sezione community*/

.section-community {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row-reverse;
    padding: 30px;
}

.box-big-community {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item2.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.box-small-community {
    padding-top: 35px;
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}




/*Sezione team*/

.section-team {
    width: 60%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    margin: 0 auto;
    padding: 30px
}

.box-big-team {
    flex-basis: 70%;
    min-height: 100%;
    background-image: url('img/item3.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.box-small-team {
    min-height: 100%;
    flex-basis: 30%;
    text-align: left;
}

/*Sezione video*/

.section-video {
    min-height: 800px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.box-video {
    min-height: 600px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}


.button-download {
    width: 200px;
    background-color: #8DADFC;
    padding: 10px;
    margin: 20px auto;
    border-radius: 50px;
}

.fa-arrow-down-long {
    color: white;
    padding-right: 10px;
}

/*Footer*/

.footer-column {
    background-color: #23272A;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.footer-info {
    min-height: 300px;
    min-width: 8%;
    background-color: #23272A;
}

.big {
    width: 18%;
}

.footer-end {
    width: 100%;
    display: flex;
    min-height: 100px;
    background-color: #23272A;
    justify-content: center;
    padding: 20px;
}

.choose-language {
    display: flex;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-footer {
    height: 20px;
    width: 30px;
    margin-right: 5px;
}

.footer-box-end {
    padding: 10px 0;
    align-self: center;
    justify-content: space-between;
    display: flex;
    width: 50%;
    border-top: 1px solid white;
}

.ft-button {
    background-color: #8DADFC;
    padding: 10px;
    border-radius: 50px;
    border: 0;
    color: white;
}

.fa-angle-down {
    padding-left: 5px;
    align-content: center;
    color: white;
}

span {
    color: white;
}

.ft-icon {
    margin-right: 25px;
    font-size: 20px;
}

.ul-footer {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 20px;
}

/*Fine esercizio*/